div{
    font-size:x-large
}
#numbercounted1{
    color:blue;
   
}
#numbercounted2{
    color:blue;
   
}
#numbercounted3{
    color:blue;
   
}
#numbercounted4{
    color:blue;
   
}
#numbercounted5{
    color:blue;
   
}